# Agenda
1. Recap: list and loops // Questions about assignment
2. List comprehension
3. Dictionaries
4. Pandas datatypes
5. Read data with Pandas
6. Explore data with Pandas
7. Work with missing values


# List comprehension

In [1]:
my_list = ['wordA', 'wordB']

#normal loop
new_list1 = []
for item in my_list:
    new_list1.append(item.upper())

#list comprehension
new_list2 = [item.upper() for item in my_list]

print(new_list1, new_list2)

['WORDA', 'WORDB'] ['WORDA', 'WORDB']

# Python dictionaries
- Dictionary is a python datatype that is used to store key-value pairs. It enables you to quickly retrieve, add, remove, modify values using a key. Dictionary is very similar to what we call associative array or hash in other languages.
- {} and seprated by ,

Dictionaries and lists share the following characteristics:

- Both are mutable (can be changed)
- Both are dynamic. They can grow and shrink as needed.
- Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.
- Dictionaries differ from lists primarily in how elements are accessed:

List elements are accessed by their position in the list, via indexing.
Dictionary elements are accessed via keys.

In [13]:
mydict = {"name": "Demi",
         "birth_year": 1994, 
          "hobby": ["programming", "painting"],
          "books": ["first book", "second book"]
         }

In [14]:
print(mydict['name'])

Demi

In [20]:
mydict

{'name': 'Demi',
 'birth_year': 1994,
 'hobby': ['programming', 'painting'],
 'books': ['first book', 'second book']}

In [26]:
print(mydict.keys())
print(mydict.values())

dict_keys(['name', 'birth_year', 'hobby', 'books'])
dict_values(['Demi', 1994, ['programming', 'painting'], ['first book', 'second book']])

In [25]:
mydict.items()

dict_items([('name', 'Demi'), ('birth_year', 1994), ('hobby', ['programming', 'painting']), ('books', ['first book', 'second book'])])

In [32]:
#dict
for key, value in mydict.items():
    print(key.upper())

NAME
BIRTH_YEAR
HOBBY
BOOKS

In [36]:
#list
for item in mydict.values():
    print(item)

Demi
1994
['programming', 'painting']
['first book', 'second book']

In [38]:
#change a value
mydict['course'] = "Bootcamp"

In [40]:
print(mydict)

{'name': 'Demi', 'birth_year': 1994, 'hobby': ['programming', 'painting'], 'books': ['first book', 'second book'], 'course': 'Bootcamp'}

In [11]:
# dictonaries can contain any data type
mydict = {"names": ["Demi", "DeeJay"],
         "birth_year": 1994, 
         "hobby": ["programming", "yoga", "drinking wine"]}

# Exercise
- Create a dictionary about yourself, list at least 2 hobbies
- Print only your second hobby
- What is your birth_year?

In [42]:
my_life = { 'name': 'Vivian',
           'last name': 'macedo',
           'hobbies': ['cooking', 'gardening', 'animal crossing'],
           'birth year': '1987'
          }

In [44]:
print(my_life['hobbies'][1])

gardening

In [45]:
print(my_life['birth year'])

1987

# Pandas
- Pandas stands for “Python Data Analysis Library"
- pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, it takes data (like a CSV or TSV file, or a SQL database) and creates a Python object with rows and columns called dataframe that looks very similar to table in a statistical software (think Excel or SPSS for example). 
- similar to R
- pandas is a libary or module, therefore if we want to use it, we need to instal and import it. You can make use of the functions that are defined in the module by calling them with . (dot), like you did with list.split() or string.strip()

In [1]:
# Install a conda package in the current Jupyter kernel
import sys
!conda install --yes --prefix {sys.prefix} pandas

DirectoryNotACondaEnvironmentError: The target directory exists, but it is not a conda environment.
Use 'conda create' to convert the directory to a conda environment.
  target directory: /Users/vivian/.pyenv/versions/3.8.2

- after the installation we need to import the libary, you need to do import for every Jupyter notebook. 
- `as pd` is an alias, if you do not do 'as' you will have to type pandas everytime. Programmers are lazy, so we use shortcuts such as pd

In [3]:
import pandas as pd

# Pandas datatypes
There are two core objects in Pandas: the DataFrame and the Series.

### Series
Pandas Series is a one-dimensional labeled array, capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing, but a column in an Excel sheet. Like in Excel every row in the sheet has 
- an index
- a value or datapoint (if you entered a value)

<img src="data/images/series-index.png" width="300"/>

**img from: https://codechalleng.es/bites/251/

*** Did we already told you, you can do amazing stuff with markdown? https://about.gitlab.com/handbook/markdown-guide/

In [3]:
# assign the variable s to Series
s = pd.Series(data, index=index)

NameError: name 'data' is not defined

In [4]:
# lets define data
data = [2,4,6,5]

In [5]:
# lets try it again
s = pd.Series(data, index=index)

NameError: name 'index' is not defined

In [7]:
# we need to have the same amount of indexes as data points
my_index = [0,1,2,3]

In [6]:
# try to change my_index
data = [2,4,6,5]
my_index = [0,1,2,3]

pd.Series(data, index=my_index)

0    2
1    4
2    6
3    5
dtype: int64

# Exercise
How can you use python functions to define the index? Remember, you're lazy!
- Hint: 
    - Length of the data and the index needs to be the same
    - Have you used the range function before?

In [8]:
m_data = range(1,20)
m_index = range(0,19)

pd.Series(m_data, index=m_index)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
dtype: int64

### DataFrame
A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.
- not limited to integers also strings 

<img src="data/images/Dataframe-expl.png" width="500"/>
<img src="data/images/Dataframe.png" width="500"/>

** image from = https://www.geeksforgeeks.org/ and https://www.learndatasci.com/
For example, consider the following simple DataFrame

In [9]:
df_with_numbers = pd.DataFrame({'Yes': [53, 21], 'No': [13, 1]})
df_with_numbers

   Yes  No
0   53  13
1   21   1

In [11]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Boring.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.       Boring.

In [11]:
pd.DataFrame({'name': ['Vivian', 'Thiago'], 'birth_year': [1987, 1988]})

     name  birth_year
0  Vivian        1987
1  Thiago        1988

# Read data
Being able to create a DataFrame or Series manually is handy. But, most of the time, we won't actually create our own data manually. Instead, we'll be working with data that already exists.

Data can be stored in any number of different forms and formats. By far the most basic is a CSV file. When you open a CSV file you get something that looks like this:

Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11

Download data from Kaggle or take a look at this data descriprion:
https://www.kaggle.com/kimjihoo/ds4c-what-is-this-dataset-detailed-description

In [12]:
# read the data and store it in df variable
path = 'data/coronavirusdataset/Case.csv'
df = pd.read_csv(path)

# Viewing and Inspecting Data
Now that you’ve loaded your data, it’s time to take a look at it. How does the dataframe look like? Running the name of the data frame would give you the entire table, but you can also use functions

In [13]:
# get the first n rows with df.head(n), or the last n rows with df.tail(n)
df.head()

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165
4,1000005,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403

In [14]:
len(df)

112

In [15]:
# check the number of rows and columns
df.shape

(112, 8)

In [16]:
# important to check non-null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case_id         112 non-null    int64
 1   province        112 non-null    object
 2   city            112 non-null    object
 3   group           112 non-null    bool
 4   infection_case  112 non-null    object
 5   confirmed       112 non-null    int64
 6   latitude        112 non-null    object
 7   longitude       112 non-null    object
dtypes: bool(1), int64(2), object(5)
memory usage: 6.4+ KB

In [16]:
# check only the columns
df.columns

Index(['case_id', 'province', 'city', 'group', 'infection_case', 'confirmed',
       'latitude', 'longitude'],
      dtype='object')

In [25]:
df['infection_case']
#df['group']

0                Guro-gu Call Center
1                      Dongan Church
2              Manmin Central Church
3      Eunpyeong St. Mary's Hospital
4                   Seongdong-gu APT
                   ...
107             contact with patient
108                              etc
109                  overseas inflow
110             contact with patient
111                              etc
Name: infection_case, Length: 112, dtype: object

In [26]:
df['city'].describe()

count     112
unique     34
top         -
freq       50
Name: city, dtype: object

In [20]:
df['province'].unique()

array(['Seoul', 'Busan', 'Daegu', 'Gwangju', 'Incheon', 'Daejeon',
       'Ulsan', 'Sejong', 'Gyeonggi-do', 'Gangwon-do',
       'Chungcheongbuk-do', 'Chungcheongnam-do', 'Jeollabuk-do',
       'Jeollanam-do', 'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Jeju-do'],
      dtype=object)

In [21]:
# view unique values and counts for a series (like a column or a few columns)
df['city'].value_counts()

-                  50
from other city    22
Gyeongsan-si        3
Sejong              2
Guro-gu             2
Geochang-gun        2
Seo-gu              2
Dalseong-gun        2
Seongnam-si         2
Cheongdo-gun        1
Suwon-si            1
Seosan-si           1
Nam-gu              1
Eunpyeong-gu        1
Wonju-si            1
Dongnae-gu          1
Dongdaemun-gu       1
Seongdong-gu        1
Jin-gu              1
Bonghwa-gun         1
Jongno-gu           1
Suyeong-gu          1
Changwon-si         1
Cheonan-si          1
Jinju-si            1
Uijeongbu-si        1
Yechun-gun          1
Haeundae-gu         1
Dong-gu             1
Jung-gu             1
Goesan-gun          1
Muan-gun            1
Changnyeong-gun     1
Chilgok-gun         1
Name: city, dtype: int64

# Exercise
1. How many individual provinces does this dataset contain?
2. Display the top three MENTIONED provinces

In [36]:
len(df['province'].unique())

17

In [35]:
top_provinces = (df['province'].value_counts())
print(top_provinces[:3])

Gyeongsangbuk-do    12
Seoul               11
Gyeongsangnam-do    10
Name: province, dtype: int64

# Slices

In [21]:
df[1:4]

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165

In [22]:
cases_in_gurogu = df[df.city == 'Guro-gu']
cases_in_gurogu

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343

In [23]:
df.confirmed.sum()

9794

# Exercise
1. How many confirmed cases are there in Eunpyeong-gu ?

In [39]:
cases_in_eu = df[df['city'] == 'Eunpyeong-gu']
cases_in_eu['confirmed'].sum()

14

# Missing data
Entries with missing values are given the value NaN, short for "Not a Number". For technical reasons these NaN values are always float64 dtype.

### Copying dataframe
In Pandas, indexing a DataFrame returns a reference to the initial DataFrame. By changing the subset we change the initial DataFrame. Thus, you'd want to use the copy if you want to make sure the initial DataFrame shouldn't be changed. Consider the following code:

In [42]:
# index, column
missing_data_df = df.copy()

In [43]:
missing_data_df

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165
4,1000005,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403
...,...,...,...,...,...,...,...,...
107,6100009,Gyeongsangnam-do,-,False,contact with patient,6,-,-
108,6100010,Gyeongsangnam-do,-,False,etc,18,-,-
109,7000001,Jeju-do,-,False,overseas inflow,9,-,-
110,7000002,Jeju-do,-,False,contact with patient,0,-,-
111,7000003,Jeju-do,-,False,etc,4,-,-

In [66]:
# create missing values
missing_data_df.at[0, 'confirmed'] = None

In [67]:
missing_data_df

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,NaN,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20.0,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41.0,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14.0,37.63369,126.9165
4,1000005,Seoul,Seongdong-gu,True,Seongdong-gu APT,13.0,37.55713,127.0403
...,...,...,...,...,...,...,...,...
107,6100009,Gyeongsangnam-do,-,False,contact with patient,6.0,-,-
108,6100010,Gyeongsangnam-do,-,False,etc,18.0,-,-
109,7000001,Jeju-do,-,False,overseas inflow,9.0,-,-
110,7000002,Jeju-do,-,False,contact with patient,0.0,-,-
111,7000003,Jeju-do,-,False,etc,4.0,-,-

Pandas provides some methods specific to manipulating the missing data. To select NaN entries you can use pd.isnull() (or its companion pd.notnull()).

In [58]:
#missing_data_df[pd.isnull(missing_data_df['confirmed'])]
#missing_data_df.isnull().values.any()
missing_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case_id         112 non-null    int64
 1   province        112 non-null    object
 2   city            112 non-null    object
 3   group           112 non-null    bool
 4   infection_case  112 non-null    object
 5   confirmed       111 non-null    float64
 6   latitude        112 non-null    object
 7   longitude       112 non-null    object
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 6.4+ KB

Replacing missing values is a common operation. Pandas provides a really handy method for this problem: fillna~(). 
fillna() provides a few different strategies for mitigating such data. For example, we can simply replace each NaN with an "Unknown":

In [60]:
# if any non value exsist, fill with unknown
missing_data_df.city.fillna("Unknown")

0            Guro-gu
1      Dongdaemun-gu
2            Guro-gu
3       Eunpyeong-gu
4       Seongdong-gu
           ...
107                -
108                -
109                -
110                -
111                -
Name: city, Length: 112, dtype: object

In [61]:
missing_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case_id         112 non-null    int64
 1   province        112 non-null    object
 2   city            112 non-null    object
 3   group           112 non-null    bool
 4   infection_case  112 non-null    object
 5   confirmed       111 non-null    float64
 6   latitude        112 non-null    object
 7   longitude       112 non-null    object
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 6.4+ KB

# Exercise
1. fill the missing values of the confirmed cases with the average of the confirmed cases

In [83]:
df['confirmed'].replace('NaN', df['confirmed'].avg())

AttributeError: 'Series' object has no attribute 'avg'

Missing values are not always NaN, they can also be ["n/a", "na", "-", ""]. If needed we can also replace these values.

In [33]:
# df.latitude
df.latitude.unique() # check the -

array(['37.508163', '37.592888', '37.481059', '37.63369', '37.55713',
       '37.57681', '37.562405', '-', '35.21628', '35.16708', '35.20599',
       '35.17371', '35.84008', '35.857375', '35.885592', '35.857393',
       '35.88395', '36.358123', '36.504713', '36.48025', '37.455687',
       '37.758635', '37.38833', '37.2376', '37.342762', '36.82422',
       '36.81503', '37.000354', '35.078825', '35.64887', '36.92757',
       '36.0581', '35.782149', '36.646845', '35.84819', '35.82558',
       '35.68556', '35.805681', '35.164845', '35.22115', '35.54127'],
      dtype=object)

In [71]:
# replace values
df['new_latitude'] = df.latitude.replace('-', "unknown")

In [75]:
df[df['new_latitude'] == 'unknown']

,case_id,province,city,group,infection_case,confirmed,latitude,longitude,new_latitude
7,1000008,Seoul,from other city,True,Shincheonji Church,8,-,-,unknown
8,1000009,Seoul,-,False,overseas inflow,313,-,-,unknown
9,1000010,Seoul,-,False,contact with patient,18,-,-,unknown
10,1000011,Seoul,-,False,etc,23,-,-,unknown
12,1100002,Busan,from other city,True,Shincheonji Church,12,-,-,unknown
...,...,...,...,...,...,...,...,...,...
107,6100009,Gyeongsangnam-do,-,False,contact with patient,6,-,-,unknown
108,6100010,Gyeongsangnam-do,-,False,etc,18,-,-,unknown
109,7000001,Jeju-do,-,False,overseas inflow,9,-,-,unknown
110,7000002,Jeju-do,-,False,contact with patient,0,-,-,unknown
111,7000003,Jeju-do,-,False,etc,4,-,-,unknown

# Study materials
- Dictionaries: https://realpython.com/python-dicts/
- List comprehension: https://www.pythonforbeginners.com/basics/list-comprehensions-in-python
- Missing values: https://towardsdatascience.com/data-cleaning-with-python-and-pandas-detecting-missing-values-3e9c6ebcf78b
- Can't wait for more pandas? https://github.com/justmarkham/pandas-videos (do not worry; we will cover most of it next week)

# Next lesson
- More dataframe exercises and transformations
- Apply
- Numpy